body{
    background-image: linear-gradient(#d7655f, #c2453e);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}


.Name {
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 500%;
    color: white;
    text-shadow: 5px 5px 8px #2a2a2a;
}

.button {
    background-color: #d7655f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 1000;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1 {
    font-size: 25px;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 1000;
    color:rgb(172, 172, 172);
    text-shadow: 5px 5px 8px #2a2a2a;
}
.p1 {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 1000;
    color:rgb(255, 255, 255);
    text-shadow: 5px 5px 8px #2a2a2a;
}

