body{
    background-image: linear-gradient(#9900ff, #c2453e);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes startingAnim {
    from { width: 0px; height: 0px; background-size: 0px; }
    to { width: 205px; height: 205px; background-size: 200px; }
}

.SCircle {
    background-color:rgb(255, 255, 255);
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: startingAnim;
    animation-duration: 2.01s;
    animation-fill-mode: forwards; 
    background-image: url(icon.png);
    background-size: 0px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    
}

@keyframes boxappear {
    from { width: 0px; height: 0px; }
    to { width: 75px; height: 75px;}
}

.Discord {
    width: 0px;
    height: 0px;
    background-color:#d44942;
    border-radius: 20%;
    position: absolute;
    top: 72.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: boxappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.Twitch {
    width: 0px;
    height: 0px;
    background-color:#d44942;
    border-radius: 20%;
    position: absolute;
    top: 72.5%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    animation-name: boxappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.Youtube {
    width: 0px;
    height: 0px;
    background-color:#d44942;
    border-radius: 20%;
    position: absolute;
    top: 72.5%;
    left: 55.5%;
    transform: translate(-50%, -50%);
    animation-name: boxappear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

@keyframes textgrow {
    from{ font-size: 0% ; }
    to{ font-size: 30%;}
}

.Name{
    color: white;
    position: absolute;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 0px;;
    top: 60%;
    left: 43%;
    animation-name: textgrow;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    text-shadow: 2px 2px 5px rgb(55, 55, 55);
}
.tyyy{
    color: #d44942;
    position: absolute;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 0px;
    top: 60%;
    left: 52%;
    animation-name: textgrow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    text-shadow: 2px 2px 5px black;
}
