body{
    background-color: #5d221e;
    text-align: center;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0%;}
    to { opacity: 100%;}
}

h1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    font-family: sans-serif;
    font: Helvetica;
    font-weight: 800;
    font-size: 500%;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.blue {
    color: #d8483e;

}

.profilepic {
    width: 250px;
    height: 250px;
    background-color: #82312b;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}