body {
    background-color: #5d221e;
    text-align: center;
    margin: 8px;
    display: block;
}

.opener1 {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8483e;
    animation-name: growfade;
    animation-duration: 1.7s;
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.opener2 {
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d8483e;
    animation-name: growfade2;
    animation-duration: 1.7s;
    animation-direction: reverse;
    animation-delay: 1;
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    opacity: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.lx-profile-img {
    border-radius: 100%;
    width: auto;
    height: 250px;
    transition: all .2s ease-in-out;
    border: 7px solid #a53e37;
    margin-left: auto;
    margin-right: auto;
}

.lx-header-txt {
    color: #fff;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.lx-highlight {
    color: #f4746b;
}

.div-center,
.lx-socials {
    display: grid;
    justify-content: center;
}

.lx-socials {
    align-content: center;
    gap: 5px;
    grid-auto-flow: column;
}

.lx-social-btn {
    padding: 15px;
    font-size: 25px;
    width: 30px;
    text-align: center;
    margin: 5px 2px;
    border-radius: 20%;
    color: #f4746b;
    background: #a53e37;
    transition: all .15s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

@keyframes growfade {
    0% {
        width: 0px;
        height: 0px;
        opacity: 100%;
    }

    50% {
        opacity: 100%;
        width: 75px;
        height: 75px;
    }

    100% {
        opacity: 0%;
        width: 75px;
        height: 75px;
    }
}

@keyframes growfade2 {
    0% {
        width: 0px;
        height: 0px;
        opacity: 100%;
    }

    50% {
        opacity: 100%;
        width: 50px;
        height: 50px;
    }

    100% {
        opacity: 0%;
        width: 50px;
        height: 50px;
    }
}